/* common */
div {box-sizing: border-box;}
.box {
    background-color: #fff;
    border: 1px solid #e1e4ea;
}
.e-cash {
    width: 100%;
    height: 100%;
    font-size: 18px;
    background-color: #f1f4f9;
    overflow: hidden;
}

.modal {
    position: fixed;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 999;
}

.loading {
    position: absolute;
    top: 50%;
    left: calc(50% - 20px);
    width: 40px;
    height: 40px;
    border: 5px solid #3f51b5;
    border-top: 5px solid transparent;
    border-radius: 50%;
    animation: roading_rotate 1s linear infinite;
}

@keyframes roading_rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.content-right h2 {
    padding: 4.6875vw 0 25px;
    font-size: 28px;
}
.content-right .box {
    min-height: 600px;
}
table {
    width: 100%;
}
table th, table td {
    padding: 16px 0;
    font-size: 18px;
    text-align: center;
}
table th {
    font-weight: 600;
    border-top: 1px solid #595757;
    border-bottom: 1px solid #595757;
}
table td {
    border-bottom: 1px solid #c9caca;
}
table td img {
    width: 90px;
    padding-right: 20px;
}
table .num {
    color: #3f51b5;
    text-decoration: underline;
    cursor: pointer;
}
.btn {
    display: inline-block;
    color: #fff;
    text-align: center;
    font-size: 18px;
    border-radius: 8px;
}

.btn_blue {
    background-color: #3f51b5;
}
.btn_green {
    background-color: #00ab08;
}
.btn_gray {
    background-color: #969696;
}

.btn_red {
    background-color: #e60012;
}

table .btn{
    padding: 9px 14px
}


.paging {
    margin-top: 4.6296vh;
    text-align: center;
}
.paging a {
    display: inline-block;
    margin: 0 8px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    box-sizing: border-box;
}
.paging a.active {
    color: #fff;
    background-color: #3f51b5;
}
.paging .arrow {
    width: 28px;
    height: 28px;
    text-align: center;
    border: 2px solid #9fa0a0;
    border-radius: 8px;
}
.paging .arrow.prev {
    padding-right: 2px;
}
.paging .arrow.next {
    padding-right: 2px;
    transform: rotate(180deg);
}
.paging .arrow img {
    vertical-align: inherit;
}

.content-right {
    position: relative;
    float: left;
    padding-right: 1.5625vw;
    width: 72.6041%;
}
.content-right .box {
    padding: 5.2083vw 2.0833vw 4.1667vw;
}

.m_content-right {
    display: none;
}

.sort_bar {
    padding-bottom: 0.5208vw;
    text-align: right;
}

.sort_bar div {
    display: inline-block;
}

.sort_bar input {
    padding: 0 10px;
    border: 1px solid #c9caca;
    box-sizing: border-box;
}
.sort_bar input:focus {
    outline: none;
}

.sort_bar .date {
    color: #c9caca;
}
.sort_bar .date input {
    width: 120px;
    height: 24px;
    padding: 0 10px 0 34px;
    color: #9fa0a0;
    background: url(../images/icn_calendar.png) 8px center no-repeat;
    background-color: #fff;
    cursor: pointer;
}

.sort_bar .search {
    width: 240px;
    height: 24px;
    border: 1px solid #c9caca;
    background-color: #fff;
    box-sizing: border-box;
    vertical-align: -1px;
}
.sort_bar .search input {
    border: 0;
    vertical-align: 1px;
}

.sort_bar .search button {
    margin-right: 10px;
    width: 17px;
    height: 17px;
    background: url('../images/icn_search.png') no-repeat;
    vertical-align:  -3px;
}

.sort_bar select {
    width: 60px;
    height: 24px;
    border: 1px solid #c9caca;
    color: #9fa0a0;
    box-sizing: border-box;
}

input[type="radio"].pick {
    display: none;
}
input[type="radio"].pick + div {
    margin-right:4px;
    box-sizing: border-box;
    position:relative;
    padding-left:20px;
    display: inline-block;
    line-height: 16px;
    vertical-align: baseline;
}
input[type="radio"].pick + div:hover {
    color:#3f51b5;cursor: pointer;
}
input[type="radio"].pick + div:before {
    position:absolute;
    top:1px;
    left:0;
    display:inline-block;
    content:'';
    border:1px solid #3f51b5;
    border-radius: 20px;
    background: #ffffff;
    box-sizing:border-box;
    width: 20px;
    height: 20px;
    cursor:pointer;
}
input[type="radio"].pick:checked + div {
    color:#202020;
}
input[type="radio"].pick:checked + div:after {
    content: "";
    display: inline-block;
    width:14px;
    height:14px;
    background: #3f51b5;
    position: absolute;
    top:4px;
    left:3px;
    border-radius:20px;
}
input[type="radio"].pick:disabled + div:before {
    border-color:#8491a7; background:#f4f6fa;
}
input[type="radio"].pick:checked:disabled + div:after {
    background:#8491a7;
}

@media (max-width: 1600px) {
    table .btn{
        padding: 9px 12px;
    }

    table th, table td, .btn {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .e-cash {
        min-height: 100%;
        height: auto;
        padding-bottom: 80px;
    }
}


/* 고정 상태창 */
.content-left {
    float: left;
    padding-right: 3.3854vw;
    width: 27.3958%;
    max-width: 526px;
    height: 100%;
}
.content-left .state {
    margin-bottom: 3.7037vh;
    height: 51.4259vh;
    padding: 6px 0 0 6px;
}
.content-left .state .box {
    padding-bottom: 1.4063vw;
    height: 100%;
}

.content-left .state .logo-wrap {
    height: 14.7407vh;
    background-color: #3f51b5;
}
.content-left .state .logo-wrap .logo {
    position: relative;
    top: 55%;
    margin: 0 auto;
    width: 6.2500vw;
    height: 6.2500vw;
    line-height: 5.4688vw;
    font-size: 1.5625vw;
    font-weight: bold;
    color: #fff;
    text-align: center;
    border-radius: 200px;
    background-color: #e60012;
    border: 5px solid #ecf0f7;
}

.content-left .state .campus-name {
    padding: 6.4815vh 0 25px;
    font-size: 1.5625vw;
    text-align: center;
    font-weight: 700;
}
.content-left .state .campus-name span {
    font-weight: 900;
}

.state .blue_box {
    margin: 0 1.3021vw 4px;
    padding: 1vh 1.4063vw;
    font-size: 18px;
    background-color: #f1f4f9;
}
.state .blue_box:last-child {
    margin-bottom: 0;
}
.state .blue_box.use {
    display: flex;
    padding: 1.4519vh 1.4063vw;
    align-items: center;
    font-weight: 500;
}
.state .blue_box.use:before {
    content: '';
    display: inline-block;
    margin-right: 0.7292vw;
    width: 2.8125vw;
    height: 2.8125vw;
    vertical-align: middle;
    border-radius: 60px;
    background: url(../images/icn_use.png) no-repeat center center;
    background-size: 53%;
    background-color: #3f51b5;
}
.state .blue_box.use p:last-child {
    padding-top: 4px;
}

.state .blue_box .blue_box_con {
    display: flex;
    justify-content: space-between;
    padding-top: 0.9375vw;
    font-weight: 700;
}
.state .blue_box .blue_box_con:first-child {
    padding-top: 0px;
}
.state .blue_box .blue_box_con .r-con {
    color: #595757;
    font-weight: 600;
}

.nav {
    padding: 6px 0 0 6px;
}
.nav .box {
    height: 41.6667vh;
    padding-bottom: 1.5625vw;
    font-weight: 700;
    overflow-y: auto;
}
.nav .box .nav_title {
    padding: 1.5625vw 45px 1.5625vw;
    font-size: 18px;
    font-weight: 600;
    color: #9fa0a0;
}

.nav .box .nav-wrap li {
    margin-bottom: 1.5741vh;
    font-size: 20px;
}
.nav .box .nav-wrap li:last-child {
    margin-bottom: 0;
}
.nav .box .nav-wrap li.active {
    color: #3f51b5;
    background-color: #ebedf7;
}
.nav .box .nav-wrap li.active:before {
    content: '';
    float: left;
    width: 10px;
    height: 46px;
    background-color: #3f51b5;
}

.nav .box .nav-wrap li a {
    display: block;
    height: 46px;
    padding: 0 45px;
    line-height: 46px;
    color: #595757;
}
.nav .box .nav-wrap li.active a {
    color: #3f51b5;
}

.bottom_option {
    padding: 20px 10px 0;
    text-align: center;
}
.bottom_option div {
    display: inline-block;
    color: #9fa0a0;
    font-weight: 400;
    font-size: 13px;
}

.bottom_option div:hover {
    color: #767676;
}

.bottom_option .setting:before {
    content: '';
    display: inline-block;
    margin-right: 4px;
    width: 14px;
    height: 14px;
    vertical-align: -2px;
    background: url(../images/icn_setting.png) no-repeat;
}

.bottom_option .bar {
    display: inline-block;
    margin: 0 25px;
    width: 1px;
    height: 15px;
    vertical-align: bottom;
    background-color: #9fa0a0;
}

/* 모바일 상태창 */
.m_top_nav {
    display: none;
    position: relative;
    width: 100%;
    height: 65px;
    line-height: 65px;
    background-color: #3f51b5;
}
.m_top_nav .title {
    font-weight: 700;
    text-align: center;
    font-size: 34px;
    color: #fff;
    letter-spacing: 0;
}

.m_top_nav .nav_wrap {
    display: block;
    position: absolute;
    top: -16px;
    left: 4.6296vw;
    z-index: 3;
    line-height: initial;
    -webkit-user-select: none;
    user-select: none;
}

.m_top_nav .nav_wrap input {
    display: block;
    width: 32px;
    height: 32px;
    position: relative;
    top: 30px;
    left: 0px;
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    -webkit-touch-callout: none;
}

.m_top_nav .nav_wrap span.buger_bar {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #fff;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;
}
.m_top_nav .nav_wrap span.buger_bar:first-child {
    transform-origin: 0% 0%;
}
.m_top_nav .nav_wrap span.buger_bar:nth-last-child(2) {
    transform-origin: 0% 100%;
}

.m_top_nav .nav_wrap input:checked ~ span.buger_bar {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}
.m_top_nav .nav_wrap input:checked ~ span.buger_bar:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

.m_top_nav .nav_wrap input:checked ~ span.buger_bar:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

.m_top_nav .nav_wrap .nav_wrap_box {
    position: absolute;
    width: 500px;
    height: calc(100vh + 16px);
    margin: -65px 0 0 -4.7296vw;
    padding: 80px 40px 10.8889vw;
    background: #f1f4f9;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.m_top_nav .nav_wrap input:checked ~ div {
    transform: none;
}

.m_top_nav .state .box {
    padding: 2.7778vw 40px 3.7037vw;
}

.m_top_nav .state .box .blue_box {
    margin-left: 0;
    margin-right: 0;
    text-align: center;
}

.m_top_nav .state .blue_box_title {
    margin-bottom: 20px;
    font-weight: 800;
}

.m_top_nav .state .blue_box_title span {
    font-weight: 600;
}

.m_top_nav .state .blue_box.use:before {
    margin-right: 1.8519vw;
    width: 4.6296vw;
    height: 4.6296vw;
}

.m_top_nav .state .box .blue_box.use {
    text-align: left;
}

.m_top_nav .nav {
    padding: 9.2593vw 0 0 0;
}

.m_top_nav .nav .nav_title {
    margin-bottom: 1.4815vw;
    color: #9fa0a0;
}

.m_top_nav .nav .nav_title ~ div {
    padding-top: 3.7037vw;
}

.m_top_nav .nav .nav-wrap li {
    display: inline-block;
    margin: 0 20px 20px 0;
    width: 195px;
    height: 5.8889vw;
    line-height: 5.8889vw;
    text-align: center;
    font-weight: 700;
    background-color: #fff;
    border: 1px solid #e1e4ea;
}
.m_top_nav .nav .nav-wrap li a {
    color: #595757;
}
.m_top_nav .nav .nav-wrap li.active {
    border: 1px solid #3f51b5;
}
.m_top_nav .nav .nav-wrap li.active a {
    color: #3f51b5;
}
.m_top_nav .nav .nav-wrap li:nth-child(even) {
    margin-right: 0;
}

.m_top_nav .bottom_option {
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translatex(-50%);
    width: 100%;
}

.m_top_nav_bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 2;
}

.m_top_nav_bg.on {
    display: block;
}

@media (max-width: 1024px) {
    .m_top_nav .nav .nav-wrap li {
        font-size: 16px;
    }
    .m_top_nav .state .blue_box {
        padding: 20px 30px;
        font-size: 16px;
    }
    .m_top_nav .state .blue_box.use:before {
        margin-right: 10px;
    }
}

@media (max-width: 768px) {
    .m_top_nav {
        height: 50px;
        line-height: 50px;
    }
    .m_top_nav .nav_wrap span.buger_bar {
        width: 26px;
        height: 2px;
    }
    .m_top_nav .nav_wrap {
        top: -21px;
    }
    .m_top_nav .nav_wrap .nav_wrap_box {
        width: 74.0741vw;
        height: calc(100vh + 27px);
        padding-left: 4.6296vw;
        padding-right: 4.6296vw;
    }
    .m_top_nav .nav_wrap .nav_wrap_box .box {
        padding-left: 4.6296vw;
        padding-right: 4.6296vw;
    }
    .m_top_nav .state .blue_box {
        padding: 14px 20px;
    }
    .m_top_nav .nav .nav-wrap li {
        margin: 0 2.4074vw 2.4074vw 0;
        width: 30vw;
        font-size: 14px;
        height: 8.8889vw;
        line-height: 8.8889vw;
    }
    .m_top_nav .title {
        font-size: 24px;
    }
    .m_top_nav .state .blue_box_title span {
        font-size: 16px;
    }
    .m_top_nav .nav .nav_title, .m_top_nav .state .blue_box {
        font-size: 14px;
    }

    .card_box {
        margin: 20px auto;
    }
}

@media (max-width: 480px) {
    .m_top_nav .nav {
        padding: 13vw 0 0 0
    }
    .m_top_nav .state .box {
        padding: 4.6296vw;
    }
    .m_top_nav .state .blue_box {
        padding: 14px 15px;
    }
    .m_top_nav .state .blue_box_title {
        margin-bottom: 10px;
        font-size: 14px;
    }
    .m_top_nav .state .blue_box .blue_box_con {
        padding: 0 0 6px 0;
    }
    .m_top_nav .state .blue_box .blue_box_con:last-child {
        padding-bottom: 0;
    }

    .state .blue_box.use:before {
        width: 20px;
        height: 20px;
    }
    .m_top_nav .state .blue_box.use:before {
        margin-right: 2px;
    }
    .m_top_nav .nav .nav-wrap li {
        font-size: 12px;
    }

}

/* payment_detail */
.content-right.card_detail .txt_wrap {
    padding-bottom: 0.5208vw;
}
.txt_wrap p span {
    color: #3f51b5;
    font-weight: 600;
}


/* payment_card_list */
.card_list .box {
    padding: 5.2083vw 2.0833vw 4.1667vw;
}
.card_list .box p {
    padding: 0 0 15px 25px;
    font-weight: 600;
}

.card_list table td.card_name {
    color: #595757;
}
.card_list table td.card_name .btn_green {
    margin-left: 1.5625vw;
    width: 5.2083vw;
    height: 29px;
    line-height: 29px;
    padding: 0;
    font-size: 14px;
}

.card_radio {
    padding-top: 10px;
}

/* payment_management */
.card_management.content-right .box {
    padding: 5.7292vw 35px 3.1250vw;
}

.card_management h3 {
    padding: 0 0 1.0417vw 5px;
    font-size: 18px;
    font-weight: 500;
}

.card_box_wrap {
    display: flex;
    justify-content: center;
}

.card_box {
    position: relative;
    display: inline-block;
    margin-right: 1vw;
    width: 21.7708vw;
    height: 13.5417vw;
    padding: 0.7813vw 0 0.7813vw;
    text-align: center;
    border-radius: 9px;
    background-color: #fff;
    box-shadow: 0 9px 20px rgba(0,0,0,0.30), 0 10px 8px rgba(0,0,0,0.22)
}
.card_box:last-child {
    margin-right: 0;
}

.card_box .card {
    margin: 0 auto;
    width: 70%;
}
.card_box .card img {
    width: 100%;
}

.card_box .card_name {
    padding-top: 1vw;
    font-size: 16px;
    font-weight: 600;
}

.card_box .ellipsis_vertical {
    display: none;
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 4px;
    fill: #969696;
    cursor: pointer;
}

.card_management .card_box.registration .content {
    padding: 5.2083vw 0 3.1250vw;
    font-size: 16px;
    cursor: pointer;
}
.card_management .card_box.registration .content:before {
    content: "";
    display: inline-block;
    margin-right: 1.0417vw;
    width: 1.7708vw;
    height: 1.7708vw;
    vertical-align: middle;
    background: url(../images/icn_card_registration.png) no-repeat;
    background-size: contain;
}

.card_management .card_box.registration p {
    font-size: 14px;
}

.card_management .txt_wrap {
    padding: 5.2083vw 0 0 1.0417vw;
    line-height: 22px;
}

/* payment_e_cash */
.card_detail .btn_excel {
    position: absolute;
    top: 4.6875vw;
    right: 1.5625vw;
    width: 8.3333vw;
    max-width: 150px;
}
.card_detail .btn_excel img {
    width: 100%;
}

/* layer */
.layer_basic {
    width: 550px;
    height: 320px;
    background-color: #f1f4f9;
}

.layer_basic .content {
    padding-top: 4.1667vw;
    font-size: 21px;
    text-align: center;
}

.layer_basic .btn_wrap {
    padding-top: 60px;
    text-align: center;
}
.layer .btn_wrap .btn {
    margin-right: 1.5625vw;
    width: 160px;
    height: 52px;
    line-height: 52px;
    font-size: 22px;
    font-weight: 600;
}
.layer .btn_wrap .btn:last-child {
    margin-right: 0;
}

.layer_card_set {
    width: 900px;
    padding: 50px;
    background-color: #fff;
    border-radius: 8px;
}
.layer_card_set .title {
    padding-bottom: 2.0833vw;
    font-size: 28px;
    font-weight: 700;
}

.layer_card_set .card_box_pick {
    text-align: center;
}
.layer_card_set .card_box_pick:last-child .card_box {
    margin-right: 0;
}

.layer_card_set .card_box {
    width: 260px;
    height: initial;
}

.layer_card_set .date {
    padding: 2.0833vw 0 8.3333vw 7.2917vw;
}
.layer_card_set .date label {
    font-size: 18px;
    font-weight: 700;
}

.layer_card_set .date select {
    margin-left: 1.0417vw;
    padding: 0.7292vw 1.8229vw 0.5208vw;
    font-size: 18px;
    text-align: center;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.30), 0 4px 5px rgba(0,0,0,0);
    -webkit-appearance:none; /* 크롬 화살표 없애기 */
    -moz-appearance:none; /* 파이어폭스 화살표 없애기 */
    appearance:none /* 화살표 없애기 */
}

.layer_card_set .btn_wrap {
    padding-top: 60px;
    text-align: center;
}

.card_date {
    padding-top: 60px;
    font-weight: 700;
    font-size: 19px;
    text-align: center;
}
.card_date span {
    margin-right: 10px;
}
.card_date select {
    width: 100px;
    height: 30px;
    text-align: center;
    font-size: 19px;
}

.layer_order_detail {
    width: 700px;
    background-color: #fff;
}

.layer_order_detail .title {
    height: 50px;
    padding: 0 25px;
    line-height: 50px;
    font-size: 18px;
    color: #fff;
    background-color: #595757;
}

.layer_order_detail .close {
    position: absolute;
    top: 14px;
    right: 25px;
    cursor: pointer;
}

.layer_order_detail .content_wrap {
    padding: 36px 24px 24px;
    font-size: 14px;
}
.layer_order_detail .content_wrap p {
    font-weight: 500;
}
.layer_order_detail .content_wrap p span {
    font-weight: 600;
}

.layer_order_detail .content_wrap .layer_table {
    padding: 15px 0;
}

.layer_order_detail .content_wrap th {
    padding: 10px 0;
}
.layer_order_detail .content_wrap tr:last-child td {
    border-bottom: 1px solid #595757;
}

.layer_order_detail .content_wrap .gray_box {
    padding: 12px 25px;
    font-size: 12px;
    background-color: #efefef;
}

.layer_order_detail .content_wrap .gray_box .history div {
    display: inline-block;
}

.layer_order_detail .content_wrap .gray_box .history .history_title {
    padding-right: 10px;
    font-weight: 600;
}

.layer_order_detail .content_wrap .price_box_wrap {
    display: flex;
    justify-content: flex-end;
    margin-top: 12px;
}

.layer_order_detail .content_wrap .price_box {
    width: 253px;
    padding: 10px 14px;
    text-align: right;
    background: #f1f4f9;
}

.layer_order_detail .content_wrap .price_box .wh_box_wrap {
    padding: 20px 12px;
    background-color: #fff;
}

.layer_order_detail .content_wrap .price_box .price_txt {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #efefef;
}
.layer_order_detail .content_wrap .price_box .price_txt:last-child {
    border: 0;
}

.layer_order_detail .content_wrap .price_box .price_title {
    color: #9fa0a0;
}

.layer_order_detail .content_wrap .price_box .price_txt:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}

.layer_order_detail .content_wrap .price_box .blue_bg {
    margin: 0;
    padding: 10px 12px;
    background-color: #3f51b5;
}
.layer_order_detail .content_wrap .price_box .blue_bg div{
    color: #fff;
}

/* mobile */
.m_content-right .box {
    padding: 3.7037vw 3.7037vw;
}
.m_content-right h2 {
    padding: 5.5556vw 0;
}
.m_content-right .sort_bar {
    padding-bottom: 12px;
    text-align: center;
}
.m_content-right .sort_bar input, .m_content-right .sort_bar select {
    font-size: 13px;
    height: 30px;
}
.m_content-right .sort_bar .date {
    width: 73.6296vw;
}
.m_content-right .sort_bar .date input {
    margin-right: 2.3148vw;
    width: 46%;
}
.m_content-right .sort_bar .date input:last-child {
    margin: 0 0 0 2.3148vw;
}
.m_content-right .sort_bar select {
    margin-left: 1.3889vw;
    width: 16vw;
}
.m_content-right .sort_bar .search {
    margin-top: 8px;
    width: auto;
    height: 30px;
    border: none;
    background: none;
}
.m_content-right .sort_bar .search input {
    width: 73.6296vw;
    height: 30px;
    border: 1px solid #c9caca;
}
.m_content-right .sort_bar .search button {
    margin: 0 0 0 1.3889vw;
    width: 16vw;
    height: 30px;
    color: #fff;
    background: none;
    background-color: #3f51b5;
    vertical-align: bottom;
}
.m_content-right .txt_wrap {
    padding-bottom: 20px;
}

@media (max-width: 1600px) {
    .content-left .state .logo-wrap .logo {
        top: 10vh;
    }
    .content-left .state .blue_box.use, .content-left .nav .box .nav_title {
        font-size: 13px;
    }
    .card_box .card_name {
        font-size: 14px;
    }
    .content-left .state .blue_box .blue_box_con, .content-left .nav .box .nav-wrap li, .card_management .txt_wrap, .layer_card_set .date label,
    .layer_card_set .date select {
        font-size: 15px;
    }
    .content-right h2, .layer_card_set .title {
        font-size: 22px;
    }
    .card_management .card_box.registration p {
        font-size: 11.5px;
    }
    .card_detail .btn_excel {
        top: 4vw;
        width: 130px;
    }
    .content-right .box {
        min-height: 41.6667vw;
    }
    .layer_card_set .btn_wrap .btn {
        font-size: 22px;
    }
    .layer_basic .content {
        padding-top: 80px;
    }
    .layer_card_set .card_box .card_name {
        font-size: 16px;
    }
}

@media (max-width: 1024px) {
    .content-left {
        display: none;
    }
    .content-right {
        width: 100%;
    }
    .m_top_nav {
        display: block;
    }
    .content-right {
        padding: 0 3.7037vw;
    }
    .content-right .box {
        min-height: 70vh;
    }
    .content-right h2 {
        font-size: 33px;
    }
    .content-right.card_detail .txt_wrap {
        padding-bottom: 10px;
    }
    .layer_card_set {
        height: 450px;
        padding: 30px;
    }
    .layer_card_set .card_box {
        width: 200px;
    }
    .layer_card_set .btn_wrap {
        padding-top: 30px;
    }
    .layer_card_set .card_box .card_name {
        padding-top: 10px;
        font-size: 14px;
    }
    .card_box {
        margin-right: 1.5vw;
        width: 28vw;
        height: 17.5417vw;
        padding: 1.5625vw 0;
    }
    .card_detail .btn_excel {
        top: 5vw;
        right: 3.7037vw;
    }
    .card_management.content-right .box {
        padding: 30px;
    }
    .card_management .card_box.registration .content {
        padding: 5.2083vw 0 5.8vw;
    }
    .card_management .card_box.registration p {
        font-size: 11px;
    }
}

@media (max-width: 768px) {
    .e_card {height: auto;}
    .content-right {display: none;}
    .sort_bar div {display: flex;}
    .m_content-right {
        display: block;
        padding: 0 4.6296vw;
        width: 100%;
        box-sizing: border-box;
    }
    .content-right h2 {
        font-size: 24px;
    }

    .card_box_wrap {
        display: block;
    }
    .card_box {
        display: block;
        width: 75%;
        height: 36.5vw;
        padding: 3vw 0;
    }
    .card_box:last-child {
        margin-right: auto;
    }
    .card_box .card_name {
        padding-top: 10px;
    }
    .card_management .card_box.registration .content {
        padding: 12vw 0 12vw;
        font-size: 18px;
    }
    .card_management .card_box.registration p {
        font-size: 14px;
    }
    .card_management .card_box.registration .content:before {
        width: 3vw;
        height: 3vw;
    }
    .card_management .txt_wrap {
        padding-left: 3vw;
    }
    .card_date {padding-top: 20px;}
    .layer_basic {
        width: 450px;
        height: 260px;
    }
    .layer_basic .content {
        padding-top: 60px;
    }
    .layer_basic .btn_wrap {
        padding-top: 35px;
    }
    .m_content-right .txt_wrap {
        font-size: 16px;
    }
    .m_content-right .txt_wrap p {
        padding-bottom: 5px;
    }
    .layer_order_detail {
        width: 470px;
    }
    .m_content-right table td.card_name .btn_green {
        margin-left: 10px;
    }
    .m_content-right table td.card_name img {
        padding-right: 5px;
    }
    .layer_card_set .card_box_wrap {
        display: block;
    }
    .layer_card_set {
        width: 460px;
        height: 780px;
        padding: 20px 30px;
    }
    .layer_card_set .card_box {
        margin: 0 auto;
        width: 240px;
        padding: 10px 0 10px;
    }
    .layer_card_set .card_box_pick:last-child .card_box {
        margin: auto;
    }
    .layer_card_set .card_box .card {
        width: 65%;
    }
    .layer_card_set .btn_wrap {
        padding-top: 40px;
    }
    .layer_card_set .btn_wrap .btn {
        width: 140px;
        height: 44px;
        line-height: 44px;
        font-size: 18px;
    }
    .layer_card_set .card_radio {
        padding: 0 0 40px;
    }
}

@media (max-width: 480px) {
    .card_box {
        margin: 20px auto 0;
        width: 95%;
        height: 44.5vw;
    }
    .m_content-right h2 {
        font-size: 20px;
    }
    .m_content-right .sort_bar .date input {
        margin-right: 2vw;
    }
    .m_content-right .sort_bar .date input:last-child {
        margin-left: 2vw;
    }
    .m_content-right table th, table td, .m_top_nav .state .blue_box, .bottom_option div {
        font-size: 13px;
    }
    .m_content-right td .card_btn_wrap .btn_gray {
        width: 94px;
    }
    .card_management .card_box.registration p {
        font-size: 13px;
    }
    .card_management .txt_wrap {
        padding-top: 10vw;
    }
    .layer_basic {
        width: 300px;
        height: 200px;
    }
    .layer_basic .content {
        padding-top: 45px;
        font-size: 16px;
    }
    .layer_basic .btn_wrap {
        padding-top: 30px;
    }
    .layer .btn_wrap .btn {
        width: 100px;
        height: 40px;
        line-height: 40px;
        font-size: 16px;
    }
    .layer_order_detail {
        width: 310px;
    }
    .layer_order_detail .content_wrap {
        padding: 20px;
    }
    .layer_order_detail .content_wrap .price_box {
        width: 100%;
    }
    .m_content-right table td.card_name img {
        width: 80px;
    }
    .m_content-right table td.card_name .btn_green {
        margin: 6px 0 0 0;
    }
    .m_content-right table td.card_name .btn {
        padding: 6px 17px;
    }
    .layer_card_set {
        width: 300px;
        padding: 25px 30px;
    }
    .layer_card_set .title {
        padding-bottom: 14px;
        text-align: center;
    }
    .layer_card_set .card_box_pick {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }
    .layer_card_set .card_box {
        width: 180px;
    }
    .layer_card_set .card_box .card_name {
        padding-top: 4px;
    }
    .layer_card_set .btn_wrap {
        padding-top: 20px;
    }
}

.dataTables_wrapper .dataTables_paginate {
    width: 100%;
    padding-top: 30px;
    text-align: center;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.previous, .dataTables_wrapper .dataTables_paginate .paginate_button.next {
    width: 28px;
    height: 28px;
    padding: 5px;
    text-align: center;
    border: 2px solid #9fa0a0;
    border-radius: 8px;
    text-indent: -9999px;
    background: url(../images/paging_arrow.png) center no-repeat;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.previous:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.next:hover {
    color: inherit;
    border: 2px solid #9fa0a0;
    background: url(../images/paging_arrow.png) center no-repeat;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.next{
    padding-right: 2px;
    transform: rotate(180deg);
}

.dataTables_wrapper .dataTables_paginate span .paginate_button {
    margin: 0 8px;;
    padding: 4px 10px;
    border: none;
    vertical-align: top;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: #000!important;
    border: none;
    background: rgba(255, 255, 255, 0);
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #fff!important;
    border: none;
    background: #3f51b5;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:active {
    background: rgba(255, 255, 255, 0);
    box-shadow: none;
}

select.d_select {
    -o-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 65px;
    height: 39px;
    background: url('../images/select_arrow.png') calc(100% - 10px) center no-repeat;
    background-size: 8px;
    padding: 0 10px;
    border: none;
    outline: 0 none;
    background-color: #dcdddd;
    vertical-align: 1px;
}

.nonpayment {
    padding: 6px 6px;
    color: #fff;
    background-color: #e60012;
}

.subscription .box {
    padding: 1.7708vw 2.0833vw 4.1667vw;
}

.subscription .txt_wrap {
    padding-bottom: 20px;
}
.subscription .txt_wrap.one{
    padding-top: 2.0833vw;
}

.subscription .txt_wrap p:first-child {
    padding-bottom: 10px;
}

.subscription .card_btn_wrap {
    display: inline-block;
    padding-top: 4px;
    margin-left: 6px;
}

@media (max-width: 1600px) {
    select.d_select {
        width: 58px;
        height: 34px;
        background-position-x: 44px;
    }
}

@media (max-width: 768px) {
    .nonpayment {
        display: block;
    }
}

/* 250315 팝업 추가 */
.guide_popup {
    width: 600px;
    padding: 40px 20px 30px 20px;
    background-color: #fff;
    border-radius: 8px;
    -webkit-box-shadow: 0px 5px 16px 2px rgba(0,0,0,0.1);
    box-shadow: 0px 5px 16px 2px rgba(0,0,0,0.1);
}

.guide_popup .title {
    padding-bottom: 20px;
    text-align: center;
    color: #3f51b5;
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 0;
}

.guide_popup .box {
    margin-bottom: 14px;
    padding: 20px;
    background-color: #f1f4f9;
    border: none;
}

.guide_popup .box dt {
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: 700;
}
.guide_popup .box dd {
    padding-left: 10px;
    font-size: 14px;
    line-height: 20px;
}

.guide_popup p {
    margin: 10px 0 15px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

.guide_popup button {
    display: block;
    margin: 0 auto;
    width: 500px;
    padding: 14px 0;
    font-size: 26px;
    font-weight: 900;
    border-radius: 4px;
    background-color: #3f51b5;
    color: #fff;
}
.guide_popup button:hover {
    background-color: #283a9e;
}
.guide_popup button img {
    padding-left: 10px;
    vertical-align: -5px;
}

@media (max-width: 1360px) {
    .guide_popup .title {
        font-size: 34px;
    }
    .guide_popup .box_wrap {
        height: 400px;
        overflow-y: auto;
    }
}

@media (max-width: 768px) {
    .guide_popup {
        width: 70%;
    }
    .guide_popup button {
        width: 100%;
    }
    .guide_popup p {
        margin: 20px 0 15px;
    }
}

@media (max-width: 480px) {
    .guide_popup {
        width: 90%;
        padding: 25px 20px 25px 20px;
    }
    .guide_popup .title {
        padding-bottom: 14px;
        font-size: 20px;
    }
    .guide_popup .box_wrap {
        height: 340px;
    }
    .guide_popup .box {
        margin-bottom: 10px;
        padding: 16px;
    }
    .guide_popup .box dt {
        padding-bottom: 6px;
        font-size: 14px;
    }
    .guide_popup .box dd {
        font-size: 13px;
        line-height: 18px;
    }
    .guide_popup p {
        font-size: 14px;
    }
    .guide_popup button {
        font-size: 18px;
        font-weight: 700;
    }
    .guide_popup button img {
        width: 8px;
        padding-left: 8px;
        vertical-align: 0px;
    }
}
